/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/459c4a64-bb73-4317-a18e-5bb0e7f58892/dg1sndo-20cba2c9-ba59-496c-aabe-10ee5376520a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ1OWM0YTY0LWJiNzMtNDMxNy1hMThlLTViYjBlN2Y1ODg5MlwvZGcxc25kby0yMGNiYTJjOS1iYTU5LTQ5NmMtYWFiZS0xMGVlNTM3NjUyMGEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qcqoc8GNxrZIH9LEwuXBjU438Hz7WN9yb5V5GRGWc5k');
    --home-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b6e0b072897469.5bf6e79950d23.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
